{% extends 'book.html.twig' %}

{% block content %}
<style>
	.content {
		font-size: 20pt;
		font-family: 'Segoe Print';
		margin-left: 12%
	}
</style>
	<form method="POST" action="{{path('addNewBook')}}">
		<label >Enter book's name</label><br>
		<textarea name="name" rows="2" cols="25"></textarea><br><br>
		
		<label >Enter content of book</label><br>
		<textarea name="content" rows="4" cols="50"></textarea><br><br>
		
		Type of book: 
		<select name = "type">
			<option value="none">None</option>
			<option value="classic">Classic</option>
			<option value="comic">Comic</option>
			<option value="fantastic">Fantastic</option>
			<option value="romantic">Romantic</option>
			<option value="detective">Detective</option>
			<option value="fairy tales">Fairy tale</option>
		</select><br><br><br>

		<button type="submit">Add</button><br><br>
	</form>
{% endblock %}