{% extends 'book.html.twig' %}

{% block content %}
	<form method="POST" action="{{path('updateBook')}}">
		<input type="hidden" name="id" value = "{{ book.getId }}"><br><br>
		<button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
	</form>

	<h2>{{ book.getName }} </h2><br>	
	<h4>{{ book.getContent }} </h4>	
{% endblock %}
