{% extends 'book.html.twig' %}

{% block content %}
<style>
	.content {
		font-size: 20pt;
		font-family: 'Segoe Print';
		margin-left: 12%
	}
</style>	
	<form method="POST" action="{{path('updateReadyBook')}}">
		<input type="hidden" name="id" value = "{{ book.getId }}"><br><br>
		<label >Enter book's name</label><br>
		<textarea name="name" rows="2" cols="25">
		{{ book.getName }} </textarea><br><br>
		
		<label >Enter content of book</label><br>
		<textarea name="content" rows="4" cols="50">
		{{ book.getContent }} </textarea><br><br>
		
		<h3><button type="submit" class="save btn btn-default">Save</button><h3>
	</form>

{% endblock %}
